In [17]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [18]:
data_rijal = pd.read_csv('50_Startups.csv')
data_rijal.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [19]:
transformer_list = [
    ('encoded', OneHotEncoder(dtype='int'), [3]),
    ('skip', 'passthrough', ["R&D Spend", "Administration", "Marketing Spend", "Profit"])
]

In [20]:
coltran = ColumnTransformer(transformer_list)
tran = coltran.fit_transform(data_rijal)

In [21]:
data_rijul = pd.DataFrame(tran, columns=coltran.get_feature_names())
data_rijul.head()

,encoded__x0_California,encoded__x0_Florida,encoded__x0_New York,R&D Spend,Administration,Marketing Spend,Profit
0,0.0,0.0,1.0,165349.20,136897.80,471784.10,192261.83
1,1.0,0.0,0.0,162597.70,151377.59,443898.53,191792.06
2,0.0,1.0,0.0,153441.51,101145.55,407934.54,191050.39
3,0.0,0.0,1.0,144372.41,118671.85,383199.62,182901.99
4,0.0,1.0,0.0,142107.34,91391.77,366168.42,166187.94

In [22]:
q = data_rijul.iloc[:, :-1].values
w = data_rijul.iloc[:, :6].values

In [23]:
w = w.reshape(len(w), 1)
w.shape

ValueError: cannot reshape array of size 300 into shape (50,1)

In [24]:
q_train, q_test, w_train, w_test = train_test_split(q, w, test_size=0.2, random_state=50)

In [28]:
mlr = LinearRegression()
mlr.fit(q_train, w_train)

ym_pred = mlr.predict(q_test)

In [29]:
gbg = np.concatenate((w_test, ym_pred), axis=1)
gbg

array([[ 1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         4.64260700e+04,  1.57693920e+05,  2.10797670e+05,
         1.00000000e+00, -2.05842010e-11,  7.51404494e-12,
         4.64260700e+04,  1.57693920e+05,  2.10797670e+05],
       [ 0.00000000e+00,  1.00000000e+00,  0.00000000e+00,
         2.86637600e+04,  1.27056210e+05,  2.01126820e+05,
        -6.46294129e-12,  1.00000000e+00, -8.82471873e-12,
         2.86637600e+04,  1.27056210e+05,  2.01126820e+05],
       [ 1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         1.62597700e+05,  1.51377590e+05,  4.43898530e+05,
         1.00000000e+00,  1.70887748e-11, -2.13606910e-13,
         1.62597700e+05,  1.51377590e+05,  4.43898530e+05],
       [ 0.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         2.02295900e+04,  6.59479300e+04,  1.85265100e+05,
        -1.01268993e-11,  7.95591371e-12,  1.00000000e+00,
         2.02295900e+04,  6.59479300e+04,  1.85265100e+05],
       [ 0.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         1.20542520e+05,  1.48718950e+05,  3.11613290e+05,
        -5.15082421e-12,  2.61118349e-11,  1.00000000e+00,
         1.20542520e+05,  1.48718950e+05,  3.11613290e+05],
       [ 1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         7.80131100e+04,  1.21597550e+05,  2.64346060e+05,
         1.00000000e+00, -1.15862875e-11,  5.73013859e-12,
         7.80131100e+04,  1.21597550e+05,  2.64346060e+05],
       [ 0.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         4.60140200e+04,  8.50474400e+04,  2.05517640e+05,
        -8.78874751e-12,  1.05087050e-11,  1.00000000e+00,
         4.60140200e+04,  8.50474400e+04,  2.05517640e+05],
       [ 1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         9.19923900e+04,  1.35495070e+05,  2.52664930e+05,
         1.00000000e+00, -1.42268419e-11,  7.70578046e-12,
         9.19923900e+04,  1.35495070e+05,  2.52664930e+05],
       [ 0.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         6.56054800e+04,  1.53032060e+05,  1.07138380e+05,
        -3.93735045e-12, -8.25389757e-12,  1.00000000e+00,
         6.56054800e+04,  1.53032060e+05,  1.07138380e+05],
       [ 0.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         7.70440100e+04,  9.92813400e+04,  1.40574810e+05,
        -6.42791376e-12, -1.96470618e-12,  1.00000000e+00,
         7.70440100e+04,  9.92813400e+04,  1.40574810e+05]])

In [31]:
r2_mlr = r2_score(w_test, ym_pred)
print(r2_mlr)

1.0